# openssl passwd -6
PASSWORD_HASH=$6$tCNSDws89tSLNjFK$IBiWja8mCwCs2RFdT.McnQn3nfKNLKGt5MesU7RXZolDTF1vAkWYDUKVUFhqUdCHMq3s/9ShgkqrPYiWuFYw1/
RDP_RELAY_IP=0.0.0.0
VPN_PROFILE=profile
VPN_HOST=example.com
VPN_PORT=443
VPN_USER=user
VPN_PASSWORD=VERYSECRETPASSWORD
